# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

.DS_Store
*.xcuserdata/
*.env
*.env.*
Secrets.xcconfig
Config.local.plist
# Large media files
*.jpeg
*.jpg
*.png
